body, html {width:100%;height:100%;}
.tab-step {text-align:center;border-left:1px solid #e7e7e7;padding:0;}
.tab-step.active {font-weight:bold;}
.tab-step:hover {cursor:pointer;font-weight:bold;}
#page {width:100%;height:90%;}
#text-container {height:100%;padding-left:15px;border-right:2px solid grey;}