.address-input {font-weight:bold;}
.cadastre-input {font-weight:bold;}
.address-suggestion, .address-search-result, 
	.cadastre-suggestion, .cadastre-search-result {color:#000000;}
.address-suggestion:hover, .address-search-result:hover, 
	.cadastre-suggestion:hover, .cadastre-search-result:hover {color:#000000;cursor:pointer;}
#address-suggestions {display:none;}
#address-search, #cadastre-search {margin-top:20px;margin-bottom:20px;}

.btn-add-on-2 {border-radius:0 4px 4px 0;}
.label-2 {font-weight:bold;}

#cadastre-search {display:none;}

#js-next-2 {pointer-events:none;color:#939393 !important;}

#slider-id-2 {position:relative;top:4px;}

#no-results-found-search {display:none;}