#intro-text-6 {margin-bottom:20px;}
#summary-header-6 {font-size:16px;font-weight:bold;}
.input-field-6 {margin-top:10px;margin-bottom:10px;}
.alert-form-6 {margin-top:10px;display:none;}
#chapters-checkboxes {margin-bottom:20px;}
.mandatory-chapters-padding {margin-right:2px;}
.chapters-6 {margin-top:5px !important;margin-bottom:5px !important;}