#text-container-6 {height:95%;padding-left:15px;border-right:2px solid grey;margin-bottom:15px;overflow-y:auto;}
#viewer-container-6 {height:95%;margin-bottom:15px;}
#map-6 {height:100%;}

.tmp-info {font-weight:bold;}