@topbar-height: 34px;
@main-border-width: 8px;
@map-index-width: 130px;

html,body
{
    height:95%;
    width:100%;
    padding: 0;
    margin: 0;
}


#topbar {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: @topbar-height;
	z-index: 2;
	background-color:rgba(0,255,255,0.1);
}

#main-content {
	position: absolute;
	border-style: solid;
	border-color: rgba(100,100,200,0.5);
	border-width: @main-border-width;
	top: @topbar-height;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	z-index: 0;
}

.sidebar {
		position: absolute;
		width: 30%;
		left: 0;
		height: 100%;
		z-index: 1;
		overflow: auto;
		background-color:rgba(0,0,255,0.1);
}	

.text-container {
 	display: none;
 }	

.map-container {
	position: absolute;
	width: 70%;
	height: 100%;
	right: 0;
	z-index: 0;
	background-color:rgba(255,0,0,0);
	float: left;
	display: none;
	overflow:auto;
}


.text-object {
	font-family: Arial;
	margin-left: 10px;
	.text {
		font-size: 12px;
	}
	h5 {
		margin-bottom: 5px;
		font-size: 12px;
		font-weight: bold;
	}
}



.main-title {
	margin-left: 10px;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: gray;
} 

.map {
	position: absolute;
	height: 100%;
	img {
		height:100%;
	}
}

.level-visible {
	display: block;
}

#map-index-level2 {
	width: @map-index-width;
	
}

#map-buttons {
	width: @map-index-width;	
	button {
		background-color: white;
	}
}


#map-level2 {
	left: @map-index-width;
	right: 0px;
	top: 0px;
}

div[id^='map-level3']{
	left: @map-index-width;
	right: 0px;
	top: 0px;
}

#topbar {
	.btn-group {
		left:30%;;
	}
}	


@import "breadcrumbs.less";	
	



