#kk-container {text-align:center;width:200px;margin-left:auto;margin-right:auto;margin-top:420px;}
.text-div-img {width:100%;}
.text-div {padding-left:0;padding-right:10px;margin-bottom:10px;}
p.header {margin-bottom:0;font-weight:bold;}