@(textobjects: Array[model.TextObject], deelgebied: String)
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Kernkwaliteitenviewer</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
		<link rel="stylesheet" href="@controllers.routes.Assets.at("css/layout.css")">
	</head>
	
	<body>
		<section id="topbar">
	        @buttonbar()
		</section>
		<section id="main-content">
			@sidebar(textobjects,deelgebied,"1")
			
			@mapviewer("", "1")
		</section>
			
	</body>
	<script type="text/javascript" src="@routes.Viewer.jsRoutes()"></script>
	<script type="text/javascript" src="@controllers.routes.Assets.at("lib/dojo-base/dojo.js")" data-dojo-config="@controllers.RequireJS.getDojoConfig(
	Seq(
		"js" -> controllers.routes.Assets.at("js").url
	), 
	Seq())"></script>
	
	<script src="@controllers.routes.Assets.at("js/main.js")" type="text/javascript"></script>

</html>