
@(deelgebied:String)
	<button id="map-button-3-1" class="btn">
		<img src="@routes.Assets.at("images/" + deelgebied + "/map-button-3-1.png")">
	</button>
	<button id="map-button-3-2" class="btn">
		<img src="@routes.Assets.at("images/" + deelgebied + "/map-button-3-2.png")">
	</button>
	<button id="map-button-3-3" class="btn">
		<img src="@routes.Assets.at("images/" + deelgebied + "/map-button-3-3.png")">
	</button>
	<button id="map-button-3-4" class="btn">
		<img src="@routes.Assets.at("images/" + deelgebied + "/map-button-3-4.png")">
	</button>
	<button id="map-button-3-5" class="btn">
		<img src="@routes.Assets.at("images/" + deelgebied + "/map-button-3-5.png")">
	</button>


