#text-4 {margin-bottom:20px;}
.sector-img-4:hover {cursor:pointer;}
#viewer-4 {padding-left:40px;padding-right:30px;padding-top:40px;}

#js-next-4 {pointer-events:none;color:#939393 !important;}

.next-not-allowed {color:red;cursor:not-allowed;}