#intro-text-5 {margin-bottom:20px;}
#text-container-5 {height:100%;float:left;position:relative;min-height:1px;padding-right:15px;width:28.333%;overflow-y:scroll;padding-left:15px;}
#kk-container-5 {height:100%;float:left;position:relative;min-height:1px;padding-right:15px;width:16.667%;overflow-y:scroll;padding-left:15px;}
.step-3-viewer {float:left;position:relative;min-height:1px;padding-right:15px;width:55%}

.kernkwaliteit-img, #landschapstype-img, #pol-img, #nb-img {width:100%;margin-top:0;margin-bottom:10px;}
.kernkwaliteit-img:hover, #landschapstype-img:hover, #pol-img:hover, #nb-img:hover {cursor:pointer;}

#slider-id-5 {position:relative;top:4px;}

#banner-title:hover {cursor:pointer;}

#op-button-5 {margin-bottom:10px;}

#ch-base-div-5 {position:absolute;bottom:5px;left:5px;}

#layer-popup-5 {position:absolute;bottom:0;right:15px;width:200px;height:300px;
	border-top:1px solid #c9c9c9;border-left:1px solid #c9c9c9;background-color:#ffffff;
	overflow:auto;display:none;border-radius:10px 0 0 0;}
.layer-popup-content {margin:8px;}