#intro-text-5 {margin-bottom:20px;}
#kk-container-5 {height:95%;float:left;position:relative;min-height:1px;padding-right:15px;width:12%;overflow-y:scroll;padding-left:15px;}
.step-3-viewer {float:left;position:relative;min-height:1px;padding-right:15px;width:54.6667%}

.kernkwaliteit-img, #landschapstype-img, #pol-img, #nb-img {width:100%;margin-top:0;margin-bottom:10px;}
.kernkwaliteit-img:hover, #landschapstype-img:hover, #pol-img:hover, #nb-img:hover {cursor:pointer;}

#slider-id-5 {position:relative;top:4px;}

#banner-title:hover {cursor:pointer;}